.idea/
build/
cmake-build-*
dist/
*CMakeFiles
*cmake_install.cmake
*CMakeCache.txt
*.so
uv.lock
.venv/
.pytest_cache/
__pycache__/
.ruff_cache/
docs/_html/
docs/_build/
docs/_doxygen/
docs/api/
CMakePresets.json
.vscode/
